body {
  margin: 0;
}

a-scene {
  z-index: 20;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(assets\fonts\JetBrainsMono-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

#video-container {
  z-index: 22;
  position: absolute;
  border: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid red;
}

select {
  font-size: 2rem;
  padding: 0.5em 10em 0.5em 0.5em;
  background: black;
  color: white;
  border: 0;
}

.custom-select {
  z-index: 20;
  position: absolute;
  top: 40px;
  left: 40px;
}

#gltf-menu select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

#gltf-menu option {
  width: 150px;
}
